body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    
}

.container {
     /* Aligns them vertically */
    width: 90%;
    max-width: 550px;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}

h2 {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    width: 98%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #003366;
    padding: 10px 20px;
}

.navbar .logo h1 {
    color: white;
    margin: 0;
}

.nav-links a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
}

.nav-links a:hover {
    text-decoration: underline;
}

.main-container{
    display: grid;
    grid-template-columns: 1fr 1.2fr; /* Form takes most space, iframe takes only what's needed */
    align-items: center;
    justify-content: center;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #003366;
    color: white;
}