<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/static/dstyle.css">

</head>
<body>
    <nav>
        <div class="navbar">
            <div class="logo">
                <h1>Train Ticket Reservation</h1>
            </div>
            <div class="nav-links">
                <a href="{{url_for('home')}}">Home</a>
                <a href="{{url_for('about')}}">About</a>
                <a href="{{url_for('logout')}}">Logout</a>
            </div>
        </div>
    </nav>
    <br><br>
    <div class="main-container">
        <div class="container">
            
            <form id="train-search-form" action="{{ url_for('results') }}" method="GET">
                <div class="form-group">
                    <label for="from">From:</label>
                    <select id="from" name="from" required>
                        <option value="" disabled selected>Select Source</option>
                        {% for station in stations %}
                        <option value="{{ station }}">{{ station }}</option>
                        {% endfor %}
                    </select>
                </div>
                <br>
                <div class="form-group">
                    <label for="to">To:</label>
                    <select id="to" name="to" required>
                        <option value="" disabled selected>Select Destination</option>
                        {% for station in stations %}
                        <option value="{{ station }}">{{ station }}</option>
                        {% endfor %}
                    </select>
                </div>
                <br>
                <div class="form-group">
                    <label for="date">Date:</label>
                    <input type="date" id="date" name="date" required>
                </div>
                <br>
                <button type="submit">Search</button>
            </form>            
            
        </div>
        
        <div class="sliding">
            <iframe src="{{url_for('carousel_page')}}" style="border:none;"></iframe>
        </div>
    </div>
    <footer>
        <p>&copy; 2025 Train Ticket Reservation. All Rights Reserved.</p>
    </footer>
</body>
</html>


